<div>
    <h2 class="ml-5">Produtos Cadastrados: </h2>
    <div class="m-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listaProdutos">
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.description}}</td>
                    <td><button (click)="deletarProduto(p)">Deletar</button></td>
                    <td><button (click)="mostrarAtualizarProduto(p)">Atualizar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="produtoParaAtualizar.produto" class="m-5">
        <h2>Atualizar Produto</h2>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input [(ngModel)]="produtoParaAtualizar.produto.name" type="text" class="form-control" id="name"
                placeholder="Nome do produto">
        </div>
        <div class="form-group">
            <label for="price">Preço:</label>
            <input [(ngModel)]="produtoParaAtualizar.produto.price" type="number" class="form-control" id="price"
                placeholder="Preço do produto">
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <input [(ngModel)]="produtoParaAtualizar.produto.description" type="text" class="form-control"
                id="description" placeholder="Descrição do produto">
        </div>
        <button (click)="atualizarProduto(produtoAtualizado)">Atualizar produto</button>
    </div>
</div>